.backwrapper{
  position: relative;
  height: 1060px;
  width: 1280px;
  background-image: url(../img/blueback.png);
   }

.maincontainer{
  position:absolute;
  top: 38px;
  left: 150px;
  background: white;
  width: 1000px;
  margin: 0 auto;
  height: 990px;
}

.photo1 {
  position: absolute;
  left: 50px;
  top: 10px;
}

.contacts{
    position: absolute;
    left: 800px;
    top: 10px;
    color: #5fa5bb;
    margin: 0;
}

.contacts li:first-child{
    font-weight: bold;
}

/*.countries li{
    display: inline-block;
    margin-left: 40px;
    font-size: 10px;
    }

.countries li a {
    display: inline-block;
}*/

.photo2 {
  position: absolute;
  left: -151px;
  top: -38px;
}

/*drop-down menu*/

.centralpanel{
  position: absolute;
  left: -70px;
  top: 412px;
  right: 50px;
}
ul {
    display: block;
    margin: 0 70px;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 10px;
    color: #ffffff;
    background-color: #353535;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: #353535;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 125px;
    top: 33px;
    left: -70px;
    background-color: #ffffff;
    border: 1px solid grey;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #ffffff;
    background-color: #353535;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/*Sidebar*/
.sidebar{
    float: left;
    margin-top: 450px;
    width: 209px;
    height: 540px;
    background: #edeef0;
    color: #424c43;
    border-right: 1px solid #c7cacf;
}

.sidebar h2{
    margin-left: 50px;
    font-weight: bold;
    line-height: 1.5;
}

.sidebar p{
    margin-left: 18px;
    line-height: 1.5;
}

/*News*/
.news{
  float: right;
  margin-top: 450px;
  width: 209px;
  height: 540px;
  background: #edeef0;
  color: #424c43;
  border-left: 1px solid #c7cacf;
  }

.news h2{
    margin-left: 70px;
    font-weight: bold;
    line-height: 1.5;
}

.news p{
    margin-left: 18px;
    line-height: 1.5;
}
/*footer*/
.footer{
  position: absolute;
  top: 1040px;
  left: 550px;
  color: #d4e1e9;
  }
